<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="myAppender" class="LoggerAppenderRollingFile">
		<layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%level %date [%logger] [%l][%exception] %message%newline" />
        </layout>
        <param name="file" value="/var/www/vhosts/biostat.kz/httpdocs/logs_ovarian/myLog.log" />
		<param name="maxFileSize" value="1MB" />
        <param name="maxBackupIndex" value="10" />
    </appender>
    <root>
        <level value="INFO" />
        <appender_ref ref="myAppender" />
    </root>
</configuration>